@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .floatSlow {
    animation: float 5s ease-in-out infinite;
  }

  .floatSlower {
    animation: float 6s ease-in-out 1s infinite;
  }
}
